@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');




@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
  }

a {
    text-decoration: none;
    color: #000;
  }

  h2 {
    font-family: 'Shrikhand', sans-serif;
  }

  h3,h4,p,span,a {
    font-family: 'Roboto', sans-serif;
  }
  
li {
    list-style-type: none;
  }

  /* MAIN */



  .menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }


  .arrow {
    display: none;
  }

  .arrow i {
    margin-left: -100px;
  }

  @media screen and (max-width: 600px) {

    .arrow {
      display: block;
    }

  }


  .header-img img {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }

  .main-menu {
    background-color: #f6f6f6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    position: relative;
    margin-top: -50px;
  }

  
.menu-title {
    font-family: 'Shrikhand', sans-serif;
    padding: 10px;
    display: flex;
    align-self: center;
    align-items: center;
    padding: 10px 22px;

  }
  @media screen and (min-width: 1280px) {
    .menu-title {
     
      justify-content: center;
  
    }
  }

  .ml {

    margin-right: 30px;

  }


  .fill {
    color: black;
    cursor: pointer;
  }
  .fill:hover {
    animation: fill 0.3s ease-in-out;
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  /* ENTRÉES */

  .full-menu {
    margin-left: 10px;
  }

  @media screen and (min-width: 1280px) {
    .full-menu {
      display: flex;
      justify-content: space-around;
    }
  }

  .starter {
    animation: fadein 2s ease-in-out;
  }
  @media screen and (min-width: 1280px) {
    .starter {
      width: 400px;
    }
  }

  .starter h3, .dish h3, .dessert h3 {
    padding-left: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .line {
    width: 50px;
    border-bottom: 3px solid #99E2D0;
    margin-left: 10px;
  }

  .meals {
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 6px #aaa;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms ease-in-out;
  }
  .meals:hover {
    padding-right: 75px;
  }
  .meals:hover .cross {
    opacity: 1;
    transform: translate(-50px);
  }
  .meals:hover .fa-check-circle {
    transform: rotate(360deg);
    
    
  }

  .meals .fa-check-circle {
    
  }


  .meals h4 {
    margin: 0;
  }

  .last-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;
  }
  
  .last-line p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  @media screen and (min-width: 1280px) {
    .last-line p {
      padding-right: 20px;
    }
  }
  
  .last-line span {
    margin-right: 5px;
  }

  .cross {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 50px;
    height: 63px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    padding: 20px;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 330ms ease-in-out;
  }
  .cross .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }

  /* PLATS PRINCIPAUX */

  .dish {
    animation: fadein 2s ease-in-out;
  }
  @media screen and (min-width: 1280px) {
    .dish {
      width: 400px;
    }
  }

  /* DESSERTS */

  .dessert {
    animation: fadein 2s ease-in-out;
  }

  @media screen and (min-width: 1280px) {
    .dessert {
      width: 400px;
    }
  }

  /* BOUTON */

  .btn-order button {
    background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 5px;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
    margin: 30px 0;
    padding: 20px;
    width: 50%;
  }
  @media screen and (min-width: 1280px) {
    .btn-order button {
      width: 25%;
    }
  }
  .btn-order button:hover {
    background-color: #ae80e5;
    background-blend-mode: lighten;
    transform: scale(1.010);
  }
  
  .btn-order {
    display: flex;
    justify-content: center;
  }

  /* FOOTER */

  footer {
    display: block;
    background-color: #353535;
    margin: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    padding: 25px;
    padding-bottom: 20px;
    color: white;
    
  }

  @media screen and (min-width: 768px) {
    footer {
      text-align: center;
      
    }
  }
  footer h3 {
    font-family: "Shrikhand", "sans-serif";
    padding: 5px 0 20px 0;
  }
  
  footer a {
    color: white;
  }
  footer ul {
    list-style-type: none;
  }
  footer ul li {
    padding: 5px 0 5px 0;
    margin-left: -38px;
  }
  footer ul .fa-utensils {
    margin-right: 12px;
  }
  footer ul .fa-hands-helping {
    margin-right: 5px;
  }
  
  
  